/* Navigation Bar */
nav.top-bar {
  text-align: center;
}

.title-area h1{
  text-align: left;
  padding: 0 0 0 2em;
  color: #FFFFFF;
  font-style: bold;
}

.title-area a.en h1 {
  font-family: Garamond;
}

.title-area a.kr h1 {
  font-family: "나눔명조", sans-serif;
}

.top-bar-section ul li.has-form a{
}

.top-bar-section ul.right li.has-form a {
  font-family: "돋움", dotum, sans-serif;
  font-style: bold;
}

/* Index Page */
.main-title h1 {
  font-style: bold;
  text-align: center;

}

.main-title .en h1 {
  font-family: Garamond;
}

.main-title .kr h1 {
  font-family: "나눔명조", sans-serif;
}
