@import "app_settings";
// @import "settings";
@import "foundation";

@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
//================ Variables ================
// Colors
$white: #FFFFFF;
$black: #000000;
$lt-blue: #2D9FC4;
$dk-blue: #00364A;
$lt-gray: #6F7072;

// English Font Family
$en-fonts: Garamond, serif;

// Korean Font Family
$kr-fonts: "Nanum Myeongjo", serif;
 
//================== Styles =================
/* HTML */
html {
}

/* Body */
body {
  height: 100%;
}

footer {
  width: 100%;
  //background: $dk-blue;
  padding: 0.5rem 0 0 0;
  color: $lt-gray;
  font-size: 0.7rem;
  text-align: center;

  .copyright.en {
    font-family: $en-fonts;
    height: 3rem;
  }
  .copyright.kr {
    font-family: $kr-fonts;
    height: 3rem;
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: none;
  & thead {
    background-color: transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  & tr:nth-of-type(even) {
    background-color: transparent !important;
  }

}

/* 404 */
.four-oh-four {
  .en {
    h1 {
      text-align: center;
      font-style: bold;
      color: $lt-blue;
      font-family: $en-fonts;
    }
  }  
  .kr {
    h1 {
      text-align: center;
      font-style: bold;
      color: $lt-blue;
      font-family: $kr-fonts;
    }
  }
}

/* Navbar */
.top-bar {
  text-align: center;
}

/* Navbar Title Area */
.title-area {
  h1 {
    text-align: left;
    padding: 0 0 0 1rem;
    color: $white;
    font-style: bold;
  }

  a.en {
    h1 {
      font-family: $en-fonts;
    }
  }

  a.kr {
    h1 {
      font-family: $kr-fonts
    }
  }
}

/* Main Page */
.main-title {
  h1 {
    font-style: bold;
    text-align: center;
    color: $lt-blue;
  }
  .en {
    font-family: $en-fonts;
  }
  .kr {
    font-family: $kr-fonts;
  }
}

.sub-title {
  h5 {
    font-style: bold;
    text-align: center;
    font-size: 0.8rem;
    padding: 0 1em 0 1em;
    color: $lt-gray;
  }
  .en {
    font-family: $en-fonts;
  }
  .kr {
    font-family: $kr-fonts;
  }
}

/* Hide image if on mobile */
@media #{$small-only} {
  .front-image {
    display: none;
  }
}

.front-page {
  & a {
    //display: block;
    //font-size: 0.8rem;
    //text-align: center;
  }
  &.en {
    font-family: $en-fonts;
    & h2 {
      color: $dk-blue;
      text-align: center;
      font-family: $en-fonts;
    }
    & h3 {
      color: $dk-blue;
      //text-align: center;
      font-family: $en-fonts;
    }
    & h4 {
      color: $black;
      //text-align: center;
      font-family: $en-fonts;
    }
    & p {
      color: $lt-gray;
      //font-family: $en-fonts;
    }
    & ul {
      color: $lt-gray;
      //font-family: $en-fonts;
    }
    & .instructions {
      text-align: center;
    }
    & .center-link {
      text-align: center;
    }
    @media #{$small-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;

        & .quote {
          text-align: left;
        }
        & .reference {
          text-align: right;
        }
      }
    }

    @media #{$medium-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 10rem 1rem 10rem;

        & .quote {
          text-align: left;
        }
        & .reference {
          text-align: right;
        }
      }
    }
  }
  &.kr {
    font-family: $kr-fonts;
    & h2 {
      color: $dk-blue;
      text-align: center;
      font-family: $kr-fonts;
    }
    & h3 {
      color: $dk-blue;
      //text-align: center;
      font-family: $kr-fonts;
    }
    & h4 {
      color: $black;
      //text-align: center;
      font-family: $kr-fonts;
    }
    & p {
      color: $lt-gray;
      //font-family: $kr-fonts;
    }
    & ul {
      color: $lt-gray;
    }
    & .instructions {
      text-align: center;
    }
    & .center-link {
      text-align: center;
    }
    @media #{$small-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;

        & .quote {
          text-align: left;
        }
        & .reference {
          text-align: right;
        }
      }
    }

    @media #{$medium-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 10rem 1rem 10rem;

        & .quote {
          text-align: left;
        }
        & .reference {
          text-align: right;
        }
      }
    }
  }
}

/* Contact Us */
.contact-page {
  width: 90%;
}

/* iframe */
iframe, object, embed {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
