@import "app_settings";
//@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300);
//================ Variables ================
// Colors
$white: #FFFFFF;
$black: #000000;
$lt-blue: #2D9FC4;
$dk-blue: #00364A;
$lt-gray: #333333;

// English Font Family
$en-title-fonts: "Enriqueta", sans-serif;
$en-fonts: "Open Sans", sans-serif;

// Korean Font Family
$kr-title-fonts: "Jeju Gothic", sans-serif;
$kr-fonts: "Nanum Gothic", sans-serif;
 
//================== Styles =================
/* HTML */
html {
  font-family: $kr-fonts;
}

/* Body */
body {
  //height: 100%;
}

.img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  //background: $dk-blue;
  padding: 0.5rem 0 0 0;
  color: $lt-gray;
  font-size: 0.7rem;
  text-align: center;

  .copyright.en {
    font-family: $en-fonts;
    height: 3rem;
  }
  .copyright.kr {
    font-family: $kr-fonts;
    height: 3rem;
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  border: none;
  & thead {
    background-color: transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    & tr td.asterisk {
      font-weight: italic;
      font-size: 0.8em;
    }
  }
  & tr:nth-of-type(even) {
    background-color: transparent !important;
  }

}

/* 404 */
.four-oh-four {
  .en {
    h1 {
      text-align: center;
      font-weight: bold;
      color: $lt-blue;
      font-family: $en-title-fonts;
    }
  }  
  .kr {
    h1 {
      text-align: center;
      font-weight: bold;
      color: $lt-blue;
      font-family: $kr-title-fonts;
    }
  }
}

/* Navbar */
.top-bar {
  text-align: center;
}

section.top-bar-section {
  ul.left {
    a {
      padding: 1rem 0 0 0;
    }
  }
}

/* Navbar Title Area */
.title-area {
  h1 {
    text-align: left;
    padding: 0 2rem 0 1rem;
    
  }

  a.en {
    h1 {
      color: $white;
      font-weight: bold;
      font-family: $en-title-fonts;
    }
  }

  a.kr {
    h1 {
      color: $white;
      font-weight: bold;
      font-family: $kr-title-fonts;
    }
  }
}

/* Off-Canvas */
section.left.tab-bar-section {
  text-align: left;
  padding: 0 0 0 1rem;
  color: $white;
  font-weight: normal;
  a.en {
    h1 {
      font-family: $en-title-fonts;
    }
  }

  a.kr {
    h1 {
      font-family: $kr-title-fonts;
    }
  }
}
  
aside.right-off-canvas-menu {
  ul.off-canvas-list {
    li.en {
      font-weight: normal;
      font-family: $en-fonts;
      color: $white;
    }
    li.kr {
      font-weight: normal;
      font-family: $kr-fonts;
      color: $white;
    }
    a.language.en {
      color: $lt-blue;
      font-weight: bold;
      font-family: $en-fonts;
    }
    a.language.kr {
      color: $lt-blue;
      font-weight: bold;
      font-family: $kr-fonts;
    }
  }
}

/* Main Page */
.main-title {
  h1 {
    padding: 1rem 0 0 0;
    font-weight: bold;
    text-align: center;
    color: $lt-blue;
  }
  .en {
    font-family: $en-title-fonts;
  }
  .kr {
    font-family: $kr-title-fonts;
  }
}

.sub-title {
  h5 {
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    padding: 0 1em 0 1em;
    color: $lt-gray;
  }
  .en {
    font-family: $en-title-fonts;
  }
  .kr {
    font-family: $kr-title-fonts;
  }
}

/* Hide image if on mobile */
@media #{$small-only} {
  .front-image {
    display: none;
  }
}

.front-page {
  & a.button.success {
      font-family: $en-fonts;
      font-style: bold;
    }
  &.en {
    font-family: $en-fonts;
    & h2 {
      padding: 1rem 0 0 0;
      color: $dk-blue;
      text-align: center;
      font-family: $en-title-fonts;
    }
    & h3 {
      padding: 1rem 0 0 0;
      color: $dk-blue;
      //text-align: center;
      font-family: $en-title-fonts;
    }
    & h4 {
      padding: 1rem 0 0 0;
      color: $black;
      //text-align: center;
      font-family: $en-title-fonts;
    }
    & p {
      color: $lt-gray;
      font-family: $en-fonts;
    }
    & ul {
      color: $lt-gray;
      font-family: $en-fonts;
    }
    & .instructions {
      text-align: center;
    }
    & .center-link {
      text-align: center;
    }
    & .news-date {
      color: $lt-gray;
      text-align: center;
    }
    @media #{$small-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        
        & .quote p {
          text-align: left;
          color: $dk-blue;
        }
        & .reference p {
          font-style: italic;
          text-align: right;
          color: $dk-blue;
        }
      }
    }

    @media #{$medium-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 14rem 0rem 14rem;
        
        & .quote p {
          text-align: left;
          color: $dk-blue;
        }
        & .reference p {
          font-style: italic;
          text-align: right;
          color: $dk-blue;
        }
      }
    }
  }
  &.kr {
    font-family: $kr-fonts;
    
    & a.button.success {
      font-family: $kr-title-fonts;
      font-style: bold;
    }
    & h2 {
      padding: 1rem 0 0 0;
      color: $dk-blue;
      text-align: center;
      font-family: $kr-title-fonts;
    }
    & h3 {
      padding: 1rem 0 0 0;
      color: $dk-blue;
      //text-align: center;
      font-family: $kr-title-fonts;
    }
    & h4 {
      padding: 1rem 0 0 0;
      color: $black;
      //text-align: center;
      font-family: $kr-title-fonts;
    }
    & p {
      color: $lt-gray;
      font-family: $kr-fonts;
    }
    & ul {
      color: $lt-gray;
      font-family: $kr-fonts;
    }
    & .instructions {
      text-align: center;
    }
    & .center-link {
      text-align: center;
    }
    & .news-date {
      color: $lt-gray;
      text-align: center;
    }
    @media #{$small-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;

        & .quote p {
          text-align: left;
          color: $dk-blue;
        }
        & .reference p {
          font-style: italic;
          text-align: right;
          color: $dk-blue;
        }
      }
    }

    @media #{$medium-up} {
      & .verse {
        //display: block;
        //margin: 0 auto;
        padding: 1rem 14rem 0rem 14rem;

        & .quote p {
          text-align: left;
          color: $dk-blue;
        }
        & .reference p {
          font-style: italic;
          text-align: right;
          color: $dk-blue;
        }
      }
    }
  }
}

/* Contact Us */
.contact-page {
  width: 90%;
}

/* iframe */
iframe, object, embed {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
