@import "app_settings";
// @import "settings";
@import "foundation";

.title-area {
  h1 {
    text-align: left;
    padding: 0 0 0 1rem;
    color: #FFFFFF;
    font-style: bold;
  }

  a.en {
    h1 {
      font-family: Garamond, serif;
    }
  }

  a.kr {
    h1 {
      font-family: "Nanum Myeongjo", "나눔명조", serif;
    }
  }
}

.top-bar {
  text-align: center;
}
