---
layout: default
title: titles.home
---
<div class="row">
    <div class="main-title">
      <h1 class="{{ site.lang }}">{% t titles.home %}</h1>
    </div>
    <div class="sub-title">
      <h5 class="{{ site.lang }}">{% t home.title %}</h5>
    </div>
</div>

<!-- Introduction -->
<div class="row">
  <!-- Divider -->
  <hr />

  <div class="large-12 columns">
    <div class="front-page {{ site.lang }}">
      <h2>{% t home.welcome %}</h2>
      {% tf welcome.md %}
      {% if site.lang == "en" %}
        <div class="verse">
          <div class="quote">
            {% tf welcome_verse.md %}
          </div>
          <div class="reference">
            {% tf welcome_verse_reference.md %}
          </div>
        </div>
        </br>
      {% endif %}
      {% tf welcome_instructions.md %}
      </br>
    </div>
  </div>
</div>

<!-- Announcements -->
<div class="row">
  <!-- Divider -->
  <hr />

  <div class="large-12 columns">
    <div class="front-page {{ site.lang }}">
      <h2>{% t home.news %}</h2>
      {% if site.lang == "en" %}
        <img src="{{baseurl}}/img/vbs_eng_2015.png"/>
        
        <br/>
        <br/>
        {% tf vbs_2015.md %}

        <!-- Register -->
        <div class="row text-center">
          <br>
          <a href="/vbs_registration_2015" class="center button success">{% t vbs.register %}</a>
        </div>
      {% else if site.lang == "kr" %}
        <img src="{{baseurl}}/img/vbs_kor_2015.png"/>
        
        <br/>
        <br/>
        {% tf vbs_2015.md %}
        <!-- Register -->
        <div class="row text-center">
          <br>
          <a href="/kr/vbs_registration_2015" class="center button success">{% t vbs.register %}</a>
        </div>
      {% endif %}
    </div>

  <!-- Divider -->
  <hr />
  </div>
</div> 
<!-- Schedule & Map -->
<div class="row">
  <div class="large-8 columns">
    <div class="front-page {{ site.lang }}">
      <h2>{% t home.schedule %}</h2>
      {% tf schedule.md %}
      <div class="center-link">
        {% tf schedule_link.md %}
      </div>
      </br>
    </div>
  </div>
  
  <div class="large-4 columns">
    <div class="front-page {{ site.lang }}">
      <h2>{% t home.location %}</h2>
      {% tf location.md %}
      </br>
      <div class="center-link">
        {% tf location_link.md %}
      </div>
      </br>
    </div>
  </div>
</div>
