<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% t page.title %}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
   
    <!-- Foundation 5 CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
  </head>
    
  <body>
    <div class="site">
      <!-- Header -->
      <div class="header">
        <!-- Title -->     
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        
        <div class="menu">
          <!-- Menu buttons -->
          {% if site.lang == 'en' %}
            <a class="extra" href="/">{% t menu.home %}</a>
            <a class="extra" href="/about">{% t menu.about %}</a>
            <a class="extra" href="/contact">{% t menu.contact %}</a>
          {% else if site.lang == "kr" %}
            <a class="extra" href="/kr">{% t menu.home %}</a>
            <a class="extra" href="/kr/about">{% t menu.about %}</a>
            <a class="extra" href="/kr/contact">{% t menu.contact %}</a>
          {% endif %}
         
          <!-- Language switch -->
          {% if site.lang == 'en' %}
            {% capture link1 %}{{ site.baseurl_url }}/kr{{ page.url }}{% endcapture %}
            <a href="{{ link1 }}" >{% t global.korean %}</a>
          {% else if site.lang == "kr" %}
            {% capture link2 %}{{ site.baseurl_url }}{{ page.url }}{% endcapture %}
            <a href="{{ link2 }}" >{% t global.english %}</a>
          {% endif %}
        </div>
      </div>
    
      <!-- Body -->
      {{ content }}

      <!-- Footer -->
      <div class="footer">
        <div class="contact">
    &copy; 2014 Flushing Gospel Hall</br>
          4504 162nd Street</br>
    Flushing NY, 11358</br>
  </div>
      </div>
    </div>
  </body>
</html>
