<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% t page.title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom CSS -->
    <script src="bower_components/modernizr/modernizr.js"></script>  
    <link rel="stylesheet" href="/css/app.css">
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    </head>
    
  <body>
    <!-- Top Bar -->
    <div class="sticky">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          {% if site.lang == 'en' %}
          <li class="name">
            <a href="/" class="en"><h1>{% t titles.home %}</h1></a>
          </li>
          {% else if site.lang == 'kr' %}
          <li class="name">
            <a href="/kr" class="kr"><h1>{% t titles.home %}</h1></a>
          </li>
          {% endif %}
          
          <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>
        
        <!-- Left Elements -->
        <section class="top-bar-section">
          <ul class="left">
            <!-- Menu buttons -->
            {% if site.lang == 'en' %}
            <li class="has-form">
              <a href="/about">{% t menu.about %}</a>
            </li>
            <li class="has-form">
              <a href="/services">{% t menu.services %}</a>
            </li>
            <li class="has-form">
              <a href="/location">{% t menu.location %}</a>
            </li>
            <li class="has-form">
              <a href="/contact">{% t menu.contact %}</a>
            </li>
            {% else if site.lang == "kr" %}
            <li class="has-form">
              <a href="/kr/about">{% t menu.about %}</a>
            </li>
            <li class="has-form">
              <a href="/kr/services">{% t menu.services %}</a>
            </li>
            <li class="has-form">
              <a href="/kr/location">{% t menu.location %}</a>
            </li>
            <li class="has-form">
              <a href="/kr/contact">{% t menu.contact %}</a>
            </li>
            {% endif %}
          </ul>

          <!-- Right Elements -->
          <ul class="right">
            <!-- Language switch -->
            <li class="has-form">
            {% if site.lang == 'en' %}
              {% capture link1 %}{{ site.baseurl_url }}/kr{{ page.url }}{% endcapture %}
              <a href="{{ link1 }}" class="tiny button">{% t global.korean %}</a>
            {% else if site.lang == "kr" %}
              {% capture link2 %}{{ site.baseurl_url }}{{ page.url }}{% endcapture %}
              <a href="{{ link2 }}" class="tiny button">{% t global.english %}</a>
            {% endif %}
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <!-- END Top Bar -->

    <!-- Body -->
    {{ content }}

    <!-- Footer -->
    <footer>
      <div class="row">
        <hr />
        <div class="large-12 columns">
          <div class="large-4 columns">
            </br>
          </div>
          <div class="large-4 columns">
            <div class="copyright {{ site.lang }}">
              &copy; 2014 {% t titles.home %}
            </div>
          </div>
          <div class="large-4 columns">
            </br>
          </div>
        </div>
      </div>
    </footer>
    <!-- END Footer -->

    <!-- Javascript -->
    <script src="{{ baseurl }}/js/vendor/jquery.js"></script>
    <script src="{{ baseurl }}/js/vendor/fastclick.js"></script>
    <script src="{{ baseurl }}/js/foundation/foundation.js"></script>
    <script src="{{ baseurl }}/js/foundation/foundation.topbar.js"></script>
    <script src="js/app.js"></script>
    <!-- Sticky Footer -->
    <script src="{{ baseurl }}/js/footer.js"></script>
    
    <!-- Foundation JS -->
    <script>
      $(document).foundation({
      });
    </script>
  </body>
</html>
